    #myHeader {
        background: transparent;
        padding-bottom: 0px;
    }
    
    .w3-card-2 {
        background-color: rgba(40, 40, 40, 0.6);
        color: white;
    }
    
    body {
        background: URL("http://project-rainbow.org/images/minecraft.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .w3-navbar {
        padding-top: 0px;
        background-color: rgba(40, 40, 40, 0.4);
    }
    .w3-navbar {
        color: white;
    }

    .rainbow-plugin {
        position: relative;
        display: inline-block;
        border: 1px solid rgba(40, 40, 40, 0.6);
        padding: 15px;
        margin: 5px;
        border-radius: 5px;
        background-color: rgba(40, 40, 40, 0.7);
        color: white;
    }

    .rainbow-plugin a {
        text-decoration: none;
    }

    .rainbow-plugin:hover {
        background-color: rgba(40, 40, 40, 0.9);
    }
    
    .rainbow-padding {
       padding: 40px;
    }
    
    .rainbow-row {
        background-color: rgba(40, 40, 40, 0.3);
    }
    span.fa {
        font-size: 50px;
    }